.contact .content__box {
  margin-right: auto;
}

.contact__heading {
  margin-bottom: 15px;
}

.contact__phone {
  font-size: 14px;
}

.contact__phone a {
  color: #71bf44;
  border-bottom: 1px solid #71bf44;
}
.contact__phone a:hover {
  border-bottom: none;
}

.contact__textbox {
  margin-top: 20px;
}
.contact__text {
  font-size: 14px;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .contact__textbox {
    margin-bottom: 20px;
  }
}
