* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #6d6d6d;
  font-family: Arial, sans-serif;
  line-height: 20px;
  background-color: #edeef0;
  height: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: "Doppio One", Arial, sans-serif;
  font-weight: normal;
}

/*--------------------*/

.main-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.languages {
  border-top: 5px solid #71bf44;
  background-color: #fff;
}
.languages__container {
  color: #6d6d6d;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.languages__container button {
  color: #6d6d6d;
  background: none;
  padding: 3px 5px;
}
.languages__container button:not(:last-child) {
  border-right: 1px solid #ccc;
}

.languages__container button:hover {
  color: #3c3c3c;
  background-color: #71bf44;
  border-radius: 3px;
}

.content {
  display: flex;
  padding-top: 36px;
}

.content__box {
  max-width: 650px;
  padding-right: 20px;
  padding-left: 10px;
}
aside {
  max-width: 300px;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

.heading {
  font-size: 22px;
  color: #000;
}
@media screen and (max-width: 767px) {
  .heading {
    font-size: 20px;
  }

  .content {
    flex-direction: column;
    padding-top: 24px;
  }

  aside {
    max-width: 100%;
    border-left: none;
    border-top: 1px solid #ccc;

    padding-left: 0;
  }
}

.hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  .content__box {
    padding-right: 0;
    padding-left: 0;
  }
}
