.slider__container {
  border: 1px solid #e0e1e3;
  background: linear-gradient(#fff, #e7e8eb);
  padding: 5px;
  border-radius: 3px;
}
.slider__content {
  position: relative;
  height: calc(277px + 73 * ((100vw - 767px) / (960 - 767)));
}
.slider__content img {
  max-width: 100%;
}
.slider__card {
  position: absolute;
}

.card--top {
  z-index: 5;
  transform: rotateX(0deg);
  transition: transform 900ms;
}
.card--last {
  z-index: 4;
  transform: rotateX(90deg);
  transition: transform 900ms;
}

.slider__card-textbox {
  color: #f7f7f7;
  background: #000;
  padding: 15px 20px 20px;
  width: 40%;
  opacity: 0.8;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.slider__card-heading {
  font-size: 26px;
  line-height: 1.1;
  margin-bottom: 15px;
}
.slider__card-text {
  font-size: 14px;
}

.slider__nav {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 10px;
  z-index: 10;
}
.slider__btn {
  width: 48px;
  height: 48px;
}
.btn--left {
  background: url(../../../public/img/slider-arrows.png) no-repeat left bottom;
}

.btn--left:hover {
  background: url(../../../public/img/slider-arrows.png) no-repeat left top;
}
.btn--right {
  background: url(../../../public/img/slider-arrows.png) no-repeat right bottom;
}

.btn--right:hover {
  background: url(../../../public/img/slider-arrows.png) no-repeat right top;
}

@media screen and (min-width: 960px) {
  .slider__content {
    height: 350px;
  }
}

@media screen and (max-width: 860px) {
  .slider__card-heading {
    font-size: 22px;
  }

  .slider__card-textbox {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .slider__content {
    height: calc(450px + 122 * ((100vw - 700px) / (700 - 375)));
  }
  .slider__card-textbox {
    position: unset;
    padding: 15px 20px 20px;
    height: 200px;
    width: 100%;
    opacity: 1;
    background: #212529;
  }
}
